/*Forme*/
/*Apparence*/
/*Emplacement*/

.pokemon-card {
    /*Forme*/
    border-radius: 15px;
    width: 300px;
    height: 450px;
    padding: 10px;

    /*Apparence*/
    background: linear-gradient(145deg, #ffa4a446, #ffffff20);
    border: #ffea73 solid 10px;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;

    /*Emplacement*/
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: all 0.15s ease-out;
}

.effet_grain {
    /*Forme*/
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;

    /*Apparence*/
    opacity: 0.2;

    /*Emplacement*/
    position: absolute;
    top: 0;
    z-index: 1;
    pointer-events: none;
}
.pokemon-card:hover {
    /*Apparence*/
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    filter: brightness(1.1);
}

.feu {
    /*Apparence*/
    background: linear-gradient(145deg, #ff6161, #ff9d3b);
}
.eau {
    /*Apparence*/
    background: linear-gradient(145deg, #5a9bf6, #90d6f4);
}
.plante {
    /*Apparence*/
    background: linear-gradient(145deg, #5cd26f, #a2f8a6);
}

.Top {
    /*Forme*/
    height: 5%;
    width: 100%;

    /*Emplacement*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nom_poke {
    /*Forme*/
    /*Apparence*/
    font-weight: 800;
    font-size: 1.5em;
    color: #ffffff;
    /*Emplacement*/
}
.img_type {
    /*Forme*/
    height: 25px;
}
.img_poke {
    /*Forme*/
    width: 100%;
    border-radius: 10px;

    /*Apparence*/
    border: 3px solid #ffffff;

    /*Emplacement*/
    margin-top: 10px;
    margin-bottom: 15px;
}

.bar {
    /*Forme*/
    position: relative;
    border-radius: 15px;
    height: 25px;
    width: 100%;
    margin-bottom: 15px;
    padding: 3px;

    /*Apparence*/
    background-color: #ffffff;

    /*Emplacement*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar-hp::after {
    content: "";
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 3px;
    width: calc(var(--bar, 100%) - 6px);
    background-color: #b4fe94;
    border-radius: 15px;
}

.HP {
    /*Forme*/
    width: 100%;
    height: 100%;
    border-radius: 15px;

    /*Apparence*/
    font-size: 0.9em;

    /*Emplacement*/
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.DEF {
    /*Forme*/
    width: 100%;
    height: 100%;
    border-radius: 15px;

    /*Apparence*/
    font-size: 0.9em;
    background-color: #94e7fe;

    /*Emplacement*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.G_atk {
    /*Forme*/
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
}
.l_atk {
    /*Forme*/
    margin: 0;
    margin-bottom: 15px;
    width: 100%;
    /*Emplacement*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nom_atk {
    /*Forme*/
    margin: 0%;
    border-radius: 15px;
    padding: 7px;
    /*Apparence*/
    background-color: #ffffff;
    /*Emplacement*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.g_atk {
    margin: 0%;
}

.weakness {
    /*Forme*/
    width: 290px;
    margin: 0%;
    border-radius: 15px;
    padding: 5px;
    /*Apparence*/
    font-size: 0.75em;
    background-color: #ffffff;
    /*Emplacement*/
    display: flex;
    justify-content: center;
}
