@import url(./carte.css);
body {
    height: 100vh;
}

/*Forme*/
/*Apparence*/
/*Emplacement*/

body {
    font-family: Arial, sans-serif;
    background-image: url(/assets/image/jl.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    opacity: 90%;
}

.swiper-slide > .pokemon-card {
    width: 300px;
}
.swiper-wrapper {
    max-width: 100vw;
    min-width: 100vw;
    height: 590px;
    max-height: 100vh;
}
.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

fieldset {
    border: 0 none;
}
.poke {
    /*Forme*/
    height: 100px;

    /*Apparence*/
    font-size: 1.5em;
    color: #000000;

    /*Emplacement*/
    margin: 30px;
    display: flex;
    justify-content: center;
}

.tous {
    /*Emplacement*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bt_Type_F {
    /*Forme*/
    padding: 10px;
    border-radius: 20px;
    width: 90px;

    /*Apparence*/
    background: linear-gradient(145deg, #ff6161, #ff9d3b);

    /*Emplacement*/
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.bt_Type_E {
    /*Forme*/
    padding: 10px;
    border-radius: 20px;
    width: 90px;

    /*Apparence*/
    background: linear-gradient(145deg, #5a9bf6, #90d6f4);

    /*Emplacement*/
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.bt_Type_P {
    /*Forme*/
    padding: 10px;
    border-radius: 20px;
    width: 90px;

    /*Apparence*/
    background: linear-gradient(145deg, #5cd26f, #a2f8a6);

    /*Emplacement*/
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.P {
    margin: 0%;
}

.I {
    width: 25px;
    height: 25px;
    padding-left: 10px;
}

.combat {
    /*Emplacement*/
    display: flex;
    justify-content: end;
}

.bt_combat {
    /*Forme*/
    padding: 12px;
    border-radius: 25px;

    /*Apparence*/
    border: 5px solid #4b6fbb;
    background-color: #fedd5b;
    text-decoration: none;
    color: #4b6fbb;
    font-weight: 600;

    /*Emplacement*/
    display: flex;
    justify-content: center;
    margin: 10px 80px 0px 0px;
}

.bt_start {
    display: flex;
    justify-content: center;
}

.start {
    /*Forme*/
    padding: 12px;
    border-radius: 25px;

    /*Apparence*/
    font-size: 1.5em;
    border: 5px solid #4b6fbb;
    background-color: #fedd5b;
    text-decoration: none;
    color: #4b6fbb;
    font-weight: 600;

    /*Emplacement*/
    display: flex;
    justify-content: center;
}

.stp {
    display: flex;
    flex-direction: column;
}

.rad {
    margin-top: 40px;
}
.rad2 {
    margin-bottom: 40px;
}

.all {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.vs {
    height: 300px;
    margin: 150px;
}

.vic {
    /*Forme*/
    padding: 12px;
    border-radius: 25px;
    width: 90%;
    /*Apparence*/
    font-size: 1.5em;
    border: 5px solid #4b6fbb;
    background-color: #fedd5b;
    text-decoration: none;
    color: #4b6fbb;
    font-weight: 600;

    /*Emplacement*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.g-vic {
    display: flex;
    justify-content: center;
    margin: 20px;
}
